// ***************************** DevBrain Theme ***************************** //
// *
// *    Components: Brand
// *
// ************************************************************************** //

@use 'variables' as var;
@use './../../abstracts/mixins/flex';
@use './../../abstracts/mixins/theme';


.brand {
    @include flex.centered;
    @include theme.property('color', 'brand--text-color');

    font-size: 1.25rem;
    font-weight: 700;

    text-decoration: none;
    white-space: nowrap;

    transition: color map-get($delays, normal);

    &:hover {
        @include theme.property('color', 'brand--text-hover-color');
    }
}