{# ------------------ DevBrain Component : Brand - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}




{# ------------------ DevBrain Component : Brand - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<a class="brand" href="#">
    C
    <span class="sr-only">Company</span>
</a>