// ***************************** DevBrain Theme ***************************** //
// *
// *    Components: Switch Variables
// *
// ************************************************************************** //

$switch-width: 30;
$switch-height: 14;

$switch-width-px: #{$switch-width}px;
$switch-height-px: #{$switch-height}px;