{# ---------------- DevBrain Component : Dropdown - Settings ---------------- #}
{# -------------------------------------------------------------------------- #}

{% set _class = class|default('') %}



{# ------------------ DevBrain Component : Dropdown - Attr ------------------ #}
{# -------------------------------------------------------------------------- #}

{% set _attr = attr|default({}) %}

{# Class Attribute #}
{% set _attr = _attr|merge({class: ''}) %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' dropdown') %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}



{# ----------------- DevBrain Component : Dropdown - Content ---------------- #}
{# -------------------------------------------------------------------------- #}
<div {{ _get_attributes(_attr) }}>
    Dropdown
</div>