
<div class="countdown" rel="js-countdown">
    <div><span data-days></span>Jours</div>
    <div><span data-hours></span>Heures</div>
    <div><span data-minutes></span>Minutes</div>
    <div><span data-seconds></span>Secondes</div>
</div>