{# ------------ DevBrain Component : Carousel Slides - Settings ------------- #}
{# -------------------------------------------------------------------------- #}

{# Private properties #}
{% set _attr                = attr|default({}) %}
{% set _attr                = _attr|merge({class: ''}) %}
{% set _attr                = _add_attribute(_attr, 'class', _attr.class ~' carousel-slides') %}

{# Public properties #}
{% set _slides              = slides|default([]) %}
{% set _startAt             = startAt|default(1) %}



{# -------------- DevBrain Component : Carousel Slides - Attr --------------- #}
{# -------------------------------------------------------------------------- #}



{# ------------- DevBrain Component : Carousel Slides - Content ------------- #}
{# -------------------------------------------------------------------------- #}
<div {{ _get_attributes(_attr) }}>
{% for _slide in _slides %}
{% set _active = loop.index == _startAt ? 'yes' : 'no' %}
    {% component 'carousel' part 'slide' with {
        index: loop.index0,
        active: _active,
        class: _slide.class|default(''),
    } %}
{% endfor %}
</div>