{# --------------- DevBrain Component : Date-Picker - Settings -------------- #}
{# -------------------------------------------------------------------------- #}




{# --------------- DevBrain Component : Date-Picker - Content --------------- #}
{# -------------------------------------------------------------------------- #}
<div class="date-picker">
    Date-picker
</div>