{% component 'carousel.control' with {
    control: "prev",
    class  : "my-custom-carousel",
    id     : "my-carousel",
    label  : "Previous",
} %}
{% component 'carousel.prev' with {
    class  : "my-custom-carousel",
    id     : "my-carousel",
    label  : "Previous",
} %}
<button data-controls="prev" data-target="my-carousel">prev</button>

<br>

{% component 'carousel.control' with {
    control: "next",
    class  : "my-custom-carousel",
    id     : "my-carousel",
    label  : "Next",
} %}
{% component 'carousel.next' with {
    class  : "my-custom-carousel",
    id     : "my-carousel",
    label  : "Next",
} %}
<button data-controls="next" data-target="my-carousel">next</button>