{% for color in ['success','danger','warning','info','primary','secondary','light','dark','muted','custom-color' , 'truc'] %}
    <div class="grid">
        <div class="column-3">
            <code>.button-{{color}}</code>
        </div>
        <div class="column-3">
            {% component 'button' with {
                label: "My Button",
                class: "button-" ~ color,
            } %}
        </div>
        <div class="column-6">
            {% component 'button' with {
                label: "My Button",
                class: "button-" ~ color ~ "-outline",
            } %}
        </div>
    </div>
{% endfor %}