{# ---------------- DevBrain Component : Carousel - Settings ---------------- #}
{# -------------------------------------------------------------------------- #}




{# ---------------- DevBrain Component : Carousel - Content ----------------- #}
{# -------------------------------------------------------------------------- #}
<div class="carousel">
    Carousel
</div>