{# ----------------- DevBrain Component : Dialog - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}




{# ----------------- DevBrain Component : Dialog - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<div class="dialog">
    Dialog
</div>