{# ----------------- DevBrain Component : Dialog - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}

{% set _class = class|default('') %}



{# ------------------- DevBrain Component : Dialog - Attr ------------------- #}
{# -------------------------------------------------------------------------- #}

{% set _attr = attr|default({}) %}

{# Class Attribute #}
{% set _attr = _attr|merge({class: ''}) %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' dialog') %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}



{# ----------------- DevBrain Component : Dialog - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<div {{ _get_attributes(_attr) }}>
    Dialog
</div>