{# ------------------ DevBrain Component : Card - Settings ------------------ #}
{# -------------------------------------------------------------------------- #}

{# Private properties #}
{% set _attr         = attr|default({}) %}
{% set _attr         = _attr|merge({class: ''}) %}
{% set _attr         = _add_attribute(_attr, 'class', _attr.class ~' card-body') %}

{# Public properties #}
{% set _class       = class|default('') %}
{% set _content     = content|default('') %}
{% set _template    = template|default('') %}
{% set _options     = options|default({}) %}


{# -------------------- DevBrain Component : Card - Attr -------------------- #}
{# -------------------------------------------------------------------------- #}

{# Class Attribute #}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}


{# ------------------ DevBrain Component : Card - Content ------------------- #}
{# -------------------------------------------------------------------------- #}
<div {{ _get_attributes(_attr) }}>
{% if _template is not empty %}
    {% include _template with _options %}
{% else %}
    {{ _content|raw }}
{% endif %}
</div>