{# ------------------ DevBrain Component : Hero - Settings ------------------ #}
{# -------------------------------------------------------------------------- #}




{# ------------------ DevBrain Component : Hero - Content ------------------- #}
{# -------------------------------------------------------------------------- #}
<div class="hero">
    Hero
</div>