// ******************************* DevBrain UI ****************************** //
// *
// *    Utilities : themes
// *
// ************************************************************************** //
// *
// *    :root {}
// *    :root[data-theme=xxx] {}
// *
// ************************************************************************** //


@use './../abstracts/functions/color';

:root {
    @each $key, $value in $base-pallet {
        $shade: color.shade($value, 30%);
        $tint: color.tint($value, 60%);
        $contrastText: color.contrastText($shade);

        --#{$key}: #{$value};
        --#{$key}-shade: #{$shade};
        --#{$key}-tint: #{$tint};
    }

    @each $property, $value in map-get($themes , $theme-default ) {
        --#{$property}: #{$value};
    }
}

@each $theme, $properties in $themes {
    @if ($theme != $theme-default)
    {
        :root[data-theme=#{$theme}] {
            @each $property, $value in $properties {
                --#{$property}: #{$value};
            }
        }
    }
}