{# ------------------ DevBrain Component : Cover - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}




{# ------------------ DevBrain Component : Cover - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<div class="cover">
    Cover
</div>