{# ------------------ DevBrain Component : Toast - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}




{# ------------------ DevBrain Component : Toast - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<div class="toast">
    Toast
</div>