{# ------------------ DevBrain Component : Chip - Settings ------------------ #}
{# -------------------------------------------------------------------------- #}




{# ------------------ DevBrain Component : Chip - Content ------------------- #}
{# -------------------------------------------------------------------------- #}
<div class="chip">
    Chip
</div>