{# ----------------- DevBrain Component : Rating - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}




{# ----------------- DevBrain Component : Rating - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<div class="rating">
    Rating
</div>