{# ------------- DevBrain Component : Button Button - Settings -------------- #}
{# -------------------------------------------------------------------------- #}

{# Private properties #}
{% set _attr         = attr|default({}) %}
{% set _attr         = _attr|merge({class: ''}) %}
{% set _attr         = _add_attribute(_attr, 'class', _attr.class ~' button') %}

{# Public properties #}
{% set _class        = class|default('') %}
{% set _label        = label|default('') %}
{% set _type         = type|default('') %}
{% set _disabled     = disabled|default('no') %}
{% set _eventHandler = eventHandler|default('') %}
{% set _dataset      = dataset|default({}) %}


{# --------------- DevBrain Component : Button Button - Attr ---------------- #}
{# -------------------------------------------------------------------------- #}

{# Is disabled #}
{% set _attr = _disabled == 'yes' ? _add_attribute(_attr, 'disabled', "disabled") : _attr %}

{# Button type #}
{% set _attr = _add_attribute(_attr, 'type', _type) %}

{# DataSet #}
{% for _property, _value in _dataset %}
{% set _attr = _add_attribute(_attr, 'data-'~ _property, _value) %}
{% endfor %}

{# Has event handler #}
{% set _attr = _add_attribute(_attr, 'rel', _eventHandler) %}

{# Add custom class #}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}


{# -------------- DevBrain Component : Button Button - Content -------------- #}
{# -------------------------------------------------------------------------- #}
<button {{ _get_attributes(_attr) }}>{{ _label|raw }}</button>







