<div class="grid">
    <div class="column-3"></div>
    <div class="column"><strong>&lt; phone</strong></div>
    <div class="column"><strong>&gt; phone</strong></div>
    <div class="column"><strong>&gt; tablet</strong></div>
    <div class="column"><strong>&gt; laptop</strong></div>
    <div class="column"><strong>&gt; desktop</strong></div>
    <div class="column"><strong>&gt; wide</strong></div>
    <div class="column"><strong>&gt; ultra</strong></div>
</div>
<div class="grid">
    <div class="column-3"><code>.container</code></div>
    <div class="column">100%</div>
    <div class="column"><strong>540px</strong></div>
    <div class="column"><strong>720px</strong></div>
    <div class="column"><strong>960px</strong></div>
    <div class="column"><strong>1140px</strong></div>
    <div class="column"><strong>1440px</strong></div>
    <div class="column"><strong>1520px</strong></div>
</div>
<div class="grid">
    <div class="column-3"><code>.container-phone</code></div>
    <div class="column">100%</div>
    <div class="column"><strong>540px</strong></div>
    <div class="column"><strong>540px</strong></div>
    <div class="column"><strong>540px</strong></div>
    <div class="column"><strong>540px</strong></div>
    <div class="column"><strong>540px</strong></div>
    <div class="column"><strong>540px</strong></div>
</div>
<div class="grid">
    <div class="column-3"><code>.container-tablet</code></div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column"><strong>720px</strong></div>
    <div class="column"><strong>720px</strong></div>
    <div class="column"><strong>720px</strong></div>
    <div class="column"><strong>720px</strong></div>
    <div class="column"><strong>720px</strong></div>
</div>
<div class="grid">
    <div class="column-3"><code>.container-laptop</code></div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column"><strong>960px</strong></div>
    <div class="column"><strong>960px</strong></div>
    <div class="column"><strong>960px</strong></div>
    <div class="column"><strong>960px</strong></div>
</div>
<div class="grid">
    <div class="column-3"><code>.container-desktop</code></div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column"><strong>1140px</strong></div>
    <div class="column"><strong>1140px</strong></div>
    <div class="column"><strong>1140px</strong></div>
</div>
<div class="grid">
    <div class="column-3"><code>.container-wide</code></div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column"><strong>1440px</strong></div>
    <div class="column"><strong>1440px</strong></div>
</div>
<div class="grid">
    <div class="column-3"><code>.container-ultra</code></div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column"><strong>1520px</strong></div>
</div>
<div class="grid">
    <div class="column-3"><code>.container-fluid</code></div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column">100%</div>
    <div class="column">100%</div>
</div>
