<div class="container-phone"> .container-phone </div>
<div class="container-tablet"> .container-tablet </div>
<div class="container-laptop"> .container-laptop </div>
<div class="container-desktop"> .container-desktop </div>
<div class="container-wide"> .container-wide </div>
<div class="container-ultra"> .container-ultra </div>
<div class="container-fluid"> .container-fluid </div>