<h1>Lorem Ipsum {% db_component 'badge.secondary' with {label: "New"} %}</h1>
<h2>Lorem Ipsum {% db_component 'badge.secondary' with {label: "New"} %}</h2>
<h3>Lorem Ipsum {% db_component 'badge.secondary' with {label: "New"} %}</h3>
<h4>Lorem Ipsum {% db_component 'badge.secondary' with {label: "New"} %}</h4>
<h5>Lorem Ipsum {% db_component 'badge.secondary' with {label: "New"} %}</h5>
<h6>Lorem Ipsum {% db_component 'badge.secondary' with {label: "New"} %}</h6>