{# -------------- DevBrain Component : Announcement - Settings -------------- #}
{# -------------------------------------------------------------------------- #}

{% set isActive = active | default(false) %}



{# -------------- DevBrain Component : Announcement - Content --------------- #}
{# -------------------------------------------------------------------------- #}
{% if isActive %}
<div class="announcement">
    <div class="container">
        
        Announcement
        
    </div>
</div>
{% endif %}