{# -------------- DevBrain Component : Announcement - Settings -------------- #}
{# -------------------------------------------------------------------------- #}

{# Private properties #}
{% set _attr        = attr|default({}) %}
{% set _attr        = _attr|merge({class: ''}) %}
{% set _attr        = _add_attribute(_attr, 'class', _attr.class ~' announcement') %}

{# Public properties #}
{% set _class    = class|default('') %}
{% set _isActive = active|default('no') %}
{% set _isFluid  = fluid|default('no') %}
{% set _content  = _to_array(content)|default([]) %}



{# ---------------- DevBrain Component : Announcement - Attr ---------------- #}
{# -------------------------------------------------------------------------- #}

{# Container Attribute #}
{% set _container_attr = {} %}
{% set _container_attr = _add_attribute(_container_attr, 'class', _isFluid == 'yes' ? 'container-fluid' : 'container') %}

{# Add custom class #}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}



{# -------------- DevBrain Component : Announcement - Content --------------- #}
{# -------------------------------------------------------------------------- #}
{% if _isActive == 'yes' %}
<div {{ _get_attributes(_attr) }}>
    <div  {{ _get_attributes(_container_attr) }}>
        
        <div class="announcement-content">
        {% for _text in _content %}
        <span class="announcement-text">{{ _text|raw }}</span>
        {% endfor %}
        </div>
            
    </div>
</div>
{% endif %}

