{# ------------------ DevBrain Component : Brand - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}




{# ------------------ DevBrain Component : Brand - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<a class="brand" href="#">
    Company
</a>