{# ---------------- DevBrain Component : Segment - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}

{% set _class = class|default('') %}



{# ------------------ DevBrain Component : Segment - Attr ------------------- #}
{# -------------------------------------------------------------------------- #}

{% set _attr = attr|default({}) %}

{# Class Attribute #}
{% set _attr = _attr|merge({class: ''}) %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' segment') %}

{# Add custom class #}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}



{# ----------------- DevBrain Component : Segment - Content ----------------- #}
{# -------------------------------------------------------------------------- #}
<div {{ _get_attributes(_attr) }}>
    Segment
</div>