<div class="grid">
    <div class="column-5"> column-5 </div>
    <div class="column-break"></div>
    <div class="column-4"> column-4 </div>
    <div class="column-6"> column-6 </div>
</div>
<div class="grid">
    <div class="column"> column </div>
    <div class="column-break"></div>
    <div class="column"> column </div>
    <div class="column"> column </div>
</div>