<div class="grid">
    <div class="column-5 column-break"> column-5 column-break </div>
    <div class="column-4"> 
        column-4 <br>
        Passage à la ligne
    </div>
    <div class="column-6"> column-6 </div>
    <div class="column-6"> column-6 </div>
</div>