<div class="grid">
    <div class="column"> Column </div>
</div>
<div class="grid">
    <div class="column"> Column </div>
    <div class="column"> Column </div>
    <div class="column"> Column </div>
</div>
<div class="grid">
    <div class="column"> Column </div>
    <div class="column"> Column </div>
</div>