// ******************************* DevBrain UI ****************************** //
// *
// *    Components: Badge
// *
// ************************************************************************** //

@use './../abstracts/mixins/corner';
@use './../abstracts/mixins/spaces';
@use './../abstracts/functions/color';


/// Badge variables
/// =============================================
///


/// Badge component
/// =============================================
///

.badge {
    @include corner.rounded($spacer);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    color: $white;
    font-weight: 700;
}
.badge {
    @include spaces.padding( $spacer * .4, $spacer * .6, $spacer * .4, $spacer * .6 );
    font-size: $spacer * .8;
    line-height: .8;
}
.badge-small {
    @include spaces.padding( $spacer * .3, $spacer * .4, $spacer * .3, $spacer * .4 );
    font-size: $spacer * .7;
    line-height: .6;
}
.badge-large {
    @include spaces.padding( $spacer * .6, $spacer * .8, $spacer * .6, $spacer * .8 );
    font-size: $spacer * 1;
    line-height: 1;
}

@each $_key, $_color in $pallet {

    $_shade       : color.shade($_color, 30%);
    $_tint        : color.tint($_color, 60%);
    $_contrastText: color.contrastText($_shade);

    .badge-#{$_key} {
        background-color: $_color;
        border-color    : $_color;
    }
}