// ******************************* DevBrain UI ****************************** //
// *
// *    Components: Media
// *
// ************************************************************************** //


/// Media variables
/// =============================================
///

$media--caption--font-size: $spacer * .9 !default;


/// Media component
/// =============================================
///

.media {
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    margin: 0;

    &-inline {
        display: inline-flex;
    }


    &-image {
        & img {
            object-fit: contain;
            max-height: 100%;
            max-width: 100%;
        }
    }

    &-audio {
    }

    &-video {
        & video {

            border: 3px solid blue;

            object-fit: contain;
            max-height: 100%;
            max-width: 100%;
            // display: flex;
            // flex-direction: column;
            // max-height: 100%;
            // max-width: 100%;


            // object-fit: cover;
            // &[poster] {
            //     object-fit: cover;
            // }
        }
    }


    &-image,
    &-audio,
    &-video {
        & figcaption {
            font-size: $media--caption--font-size;
            font-style: italic;
        }
    }
}