// ******************************* DevBrain UI ****************************** //
// *
// *    Components: Navigation
// *
// ************************************************************************** //

@use './../abstracts/mixins/flex';


/// Navigation variables
/// =============================================
///

$height: 80px;

/// Navigation component
/// =============================================
///


.navigation {
    @include flex.row;

    position: relative;
    flex-wrap: nowrap;
    height: $height;

    & .container,
    & .container-fluid
    {
        @include flex.row;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }

    & .brand {
        margin-right: map-get($spacers, 3);
    }

    &-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }


    // &-toggler {
    //     display: block;
    // }
    & .menu 
    {
        flex-direction: column;
    }


    @each $breakpoint in map-keys($breakpoints)
    {
        @media (min-width: map-get($breakpoints,  $breakpoint)) {
            // Navbar toggler
            &-toggler {
                @if ($breakpoint == 'sm' or $breakpoint == 'md') {
                    display: block;
                } @else {
                    display: none;
                }
            }

            // Navbar collapse
            &-collapse {
                display: flex !important;
                flex-basis: auto;
            }

            // Menu
            & .menu {
                @if ($breakpoint == 'sm' or $breakpoint == 'md') {
                    flex-direction: column;
                } @else {
                    flex-direction: row;
                    column-gap: 3rem;
                }
            }
        }
    }
}