// ******************************* DevBrain UI ****************************** //
// *
// *    Components: Navigation
// *
// ************************************************************************** //

@use './../abstracts/mixins/flex';
@use './../abstracts/mixins/position';
@use './../abstracts/mixins/transition';


/// Navigation variables
/// =============================================
///

$height: 200px;



// Default Theme
// --------------------------

$default--navigation--background-color   : $white;


/// Navigation component
/// =============================================
///


.navigation {
    border: 10px solid red;
    @include flex.row;
    // align-items: center;

    // position: relative;
    // flex-wrap: nowrap;
    // height: $height;

    // & .container,
    // & .container-fluid
    // {
    //     @include flex.row;
    //     flex-wrap: inherit;
    //     align-items: center;
    //     justify-content: space-between;
    // }

    & [class^=container] {
        border: 10px solid orange;
        // @include flex.column;
        @include flex.row;
        // display: flex;
        // flex-direction: row-reverse;
        // flex-wrap: inherit;
        align-items: center;
        // justify-content: space-between;
        // // flex-direction: row-reverse;
    }
    
    & .navigation-toggler {
        margin-left: auto;
    }

    & .brand {
        border: 10px solid purple;
        margin-right: map-get($spacers, 3);
    }

    &-inner {
        border: 10px solid yellow;
        // // display: none;
        // flex-grow: 1;
        // justify-content: space-between;

        background-color: var(--navigation--background-color, $default--navigation--background-color);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        width: $offcanvas--width;
    }
    &-left &-inner{
        // @include position.left(-$offcanvas--width);
        @include position.fixed(0, null, 0, -$offcanvas--width);
    }
    &-right &-inner{
        // @include position.right(-$offcanvas--width);
        @include position.fixed(0, -$offcanvas--width, 0, null);
    }

        & .menu 
        {
            border: 10px solid green;
            // margin: 0;
            // flex-direction: column;
        }

        & .searchbar 
        {
            border: 10px solid pink;
        }

    

    &.show &-inner {
        @include transition.set((left, right, box-shadow), map-get($delays, normal));

        // width: $offcanvas--width;
        // background-color: var(--navigation--background-color, $default--navigation--background-color);
        // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        & .menu-items {
            @include flex.column;
        }
    }
    &-left.show &-inner{
        @include position.left(0);
    }
    &-right.show &-inner{
        @include position.right(0);
    }
}


@media (min-width: 576px) { // 'phone'
    .navigation.expand-at-phone {
        & [class^=container] {
            // @include flex.row;
        }
        & .navigation-inner {
            @include position.relative(initial, initial, initial, initial);
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
        }
        & .navigation-toggler {
            display: none;
        }
    }
}
@media (min-width: 768px) { // 'tablet'
    .navigation.expand-at-tablet {
        & [class^=container] {
            // @include flex.row;
        }
        & .navigation-inner {
            @include position.relative(initial, initial, initial, initial);
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
        }
        & .navigation-toggler {
            display: none;
        }
    }
}
@media (min-width: 992px) { // 'laptop'
    .navigation.expand-at-laptop {
        & [class^=container] {
            // @include flex.row;
        }
        & .navigation-inner {
            @include position.relative(initial, initial, initial, initial);
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
        }
        & .navigation-toggler {
            display: none;
        }
    }
}
@media (min-width: 1200px) { // 'desktop'
    .navigation.expand-at-desktop {
        & [class^=container] {
            // @include flex.row;
        }
        & .navigation-inner {
            @include position.relative(initial, initial, initial, initial);
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
        }
        & .navigation-toggler {
            display: none;
        }
    }
}
@media (min-width: 1400px) { // 'wide'
    .navigation.expand-at-wide {
        & [class^=container] {
            // @include flex.row;
        }
        & .navigation-inner {
            @include position.relative(initial, initial, initial, initial);
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
        }
        & .navigation-toggler {
            display: none;
        }
    }
}
@media (min-width: 1600px) { // 'ultra'
    .navigation.expand-at-ultra {
        & [class^=container] {
            @include flex.row;
        }
        & .navigation-inner {
            @include position.relative(initial, initial, initial, initial);
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
        }
        & .navigation-toggler {
            display: none;
        }
    }
}











// @each $size, $breakpoint in $breakpoints {
//     @if $breakpoint > 0 {
//         // @media (min-width: $breakpoint) {
//         //     @each $spacer_key, $spacer in $spacers {
//         //         .#{$property_key}#{$side_key}-#{$size}-#{$spacer_key} {
//         //             @if not ($property == padding and $spacer == auto)
//         //             {
//         //                 #{$property}-#{$side}: $spacer !important;
//         //             }
//         //         }
//         //     }
//         // }
//     }
// }