{# ---------------- DevBrain Component : Thumbnail - Settings --------------- #}
{# -------------------------------------------------------------------------- #}




{# ---------------- DevBrain Component : Thumbnail - Content ---------------- #}
{# -------------------------------------------------------------------------- #}
<div class="thumbnail">
    Thumbnail
</div>