// ***************************** DevBrain Theme ***************************** //
// *                                                                        * //
// * Colors definition.                                                     * //
// *                                                                        * //
// ************************************************************************** //

/// Black & White & Gray
/// =============================================
///
$black                  : #111111 !default; // #050505 !default;
$white                  : #ffFFFf !default;
$gray-100               : #f8f9fa !default;
$gray-200               : #e9ecef !default;
$gray-300               : #dee2e6 !default;
$gray-400               : #ced4da !default;
$gray-500               : #adb5bd !default;
$gray-600               : #6c757d !default;
$gray-700               : #495057 !default;
$gray-800               : #343a40 !default;
$gray-900               : #212529 !default;


/// Bootstrap base colors
/// =============================================
///
$blue                   : #0d6efd !default;
$indigo                 : #6610f2 !default;
$purple                 : #6f42c1 !default;
$pink                   : #d63384 !default;
$red                    : #dc3545 !default;
$orange                 : #fd7e14 !default;
$yellow                 : #ffc107 !default;
$green                  : #198754 !default;
$teal                   : #20c997 !default;
$cyan                   : #0dcaf0 !default;


/// Additional colors
/// =============================================
///
$white-smoke            : #F2F2F2; // https://colors.dopely.top/color-pedia/F2F2F2 - white & light gray
$zircon                 : #dee2e6; // https://colors.dopely.top/color-pedia/dee2e6
$lemon-chiffon          : #fff3cd; // https://colors.dopely.top/color-pedia/fff3cd
$cinder                 : #212529; // https://colors.dopely.top/color-pedia/212529 - Middle gray & dark gray
$cyprus                 : #0B2C3D; // https://colors.dopely.top/color-pedia/0B2C3D
$dark-green             : #012626; // https://colors.dopely.top/color-pedia/012626
$mirage                 : #343a40; // https://colors.dopely.top/color-pedia/343a40
$gondola                : #363636; // https://colors.dopely.top/color-pedia/363636
$black-pearl            : #151b1e; // https://colors.dopely.top/color-pedia/151b1e
$prussian-blue          : #00405d; // https://colors.dopely.top/color-pedia/00405d - Blue
$sherpa-blue            : #002640; // https://colors.dopely.top/color-pedia/002640
$downy                  : #6CD9CE; // https://colors.dopely.top/color-pedia/6CD9CE - Green
$inch-worm              : #a4e411; // https://colors.dopely.top/color-pedia/a4e411
$kahki                  : #F2EB8D; // https://colors.dopely.top/color-pedia/F2EB8D - Yellow & Orange
$golden-poppy           : #ffc603; // https://colors.dopely.top/color-pedia/ffc603
$crusta                 : #F28963; // https://colors.dopely.top/color-pedia/F28963
$pumpkin                : #FF5E15; // https://colors.dopely.top/color-pedia/FF5E15
$saffron                : #F9C22A; // https://colors.dopely.top/color-pedia/F9C22A
$persian-red            : #cf2e2e; // https://colors.dopely.top/color-pedia/cf2e2e - Red & Pink
$pink-flamingo          : #ff38ff; // https://colors.dopely.top/color-pedia/ff38ff
$robin-egg-blue         : #00cdcb; // https://colors.dopely.top/color-pedia/00cdcb - Cyan
$free-speech-green      : #00ff12; // https://colors.dopely.top/color-pedia/00ff12 - Fluorescent green