{# ----------------- DevBrain Component : Gallery - Settings ---------------- #}
{# -------------------------------------------------------------------------- #}




{# ----------------- DevBrain Component : Gallery - Content ----------------- #}
{# -------------------------------------------------------------------------- #}
<div class="gallery">
    Gallery
</div>