{# -- Component Settings ---------------------------------------------------- #}
{# -------------------------------------------------------------------------- #}

{% set _attr = attr|default({}) %}
{% set _attr = _add_attribute(_attr, 'class', class) %}

{% for name, value in dataset %}
{% set _attr = _add_attribute(_attr, 'data-'~ name, value) %}
{% endfor %}


{# -- Component Rendering --------------------------------------------------- #}
{# -------------------------------------------------------------------------- #}
<div {{ _get_attributes(_attr) }}>
    <iframe src="{{ href }}" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>