{# --------------- DevBrain Component : Map Iframe - Settings --------------- #}
{# -------------------------------------------------------------------------- #}

{# Private properties #}
{% set _attr         = attr|default({}) %}
{% set _attr         = _attr|merge({class: ''}) %}
{% set _attr         = _add_attribute(_attr, 'class', _attr.class ~' map') %}

{# Public properties #}
{% set _class        = class|default('') %}
{% set _reference    = reference|default('') %}
{% set _dataset      = dataset|default({}) %}


{# ----------------- DevBrain Component : Map Iframe - Attr ----------------- #}
{# -------------------------------------------------------------------------- #}

{# Is disabled #}
{# {% set _attr = _disabled == 'yes' ? _add_attribute(_attr, 'disabled', "disabled") : _attr %} #}

{# Button type #}
{# {% set _attr = _add_attribute(_attr, 'type', _type) %} #}

{# DataSet #}
{# {% for _property, _value in _dataset %}
{% set _attr = _add_attribute(_attr, 'data-'~ _property, _value) %}
{% endfor %} #}

{# Has event handler #}
{# {% if _eventHandler %}
{% set _attr = _eventHandler is same as true ? _add_attribute(_attr, 'rel', "js-button") : _add_attribute(_attr, 'rel', "js-"~ _eventHandler) %}
{% endif %} #}

{# Add custom class #}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}


{# --------------- DevBrain Component : Map Iframe - Content ---------------- #}
{# -------------------------------------------------------------------------- #}
<div {{ _get_attributes(_attr) }}>
    {% component 'map' part 'iframe' with {
        reference   : _reference,
        dataset     : _dataset,
    } %}
</div>



