{# ----------------- DevBrain Component : Figure - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}




{# ----------------- DevBrain Component : Figure - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<div class="figure">
    Figure
</div>