<h1>Lorem Ipsum <twig:Badge label="New" is="secondary" /></h1>
<h2>Lorem Ipsum <twig:Badge label="New" is="secondary" /></h2>
<h3>Lorem Ipsum <twig:Badge label="New" is="secondary" /></h3>
<h4>Lorem Ipsum <twig:Badge label="New" is="secondary" /></h4>
<h5>Lorem Ipsum <twig:Badge label="New" is="secondary" /></h5>
<h6>Lorem Ipsum <twig:Badge label="New" is="secondary" /></h6>