{# ------------------ DevBrain Component : Badge - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}

{# Private properties #}
{% set _attr         = attr|default({}) %}
{% set _attr         = _attr|merge({class: ''}) %}
{% set _attr         = _add_attribute(_attr, 'class', _attr.class ~' badge') %}

{# Public properties #}
{% set _class        = class|default('') %}
{% set _label        = label|default('') %}
{% set _max          = max|default(99) %}



{# ------------------- DevBrain Component : Badge - Attr -------------------- #}
{# -------------------------------------------------------------------------- #}

{# Add custom class #}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}

{# Match integer #}
{% if _label matches '/^\\d+$/' or _label matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
{% if _label > _max %}
{% set _label = _max ~ '+' %}
{% endif %}
{% endif %}


{# ------------------ DevBrain Component : Badge - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
{% if _label is not empty %}
<span {{ _get_attributes(_attr) }}>{{ _label|raw }}</span>
{% endif %}