{# ------------------ DevBrain Component : Tags - Settings ------------------ #}
{# -------------------------------------------------------------------------- #}

{% set _class = class|default('') %}



{# -------------------- DevBrain Component : Tags - Attr -------------------- #}
{# -------------------------------------------------------------------------- #}

{% set _attr = attr|default({}) %}

{# Class Attribute #}
{% set _attr = _attr|merge({class: ''}) %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' tags') %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}



{# ------------------ DevBrain Component : Tags - Content ------------------- #}
{# -------------------------------------------------------------------------- #}
<div {{ _get_attributes(_attr) }}>
    tags
</div>