{# ------------------ DevBrain Component : quiz - Settings ------------------ #}
{# -------------------------------------------------------------------------- #}




{# ------------------ DevBrain Component : quiz - Content ------------------- #}
{# -------------------------------------------------------------------------- #}
<div class="quiz">
    Quiz
</div>