{# ----------------- DevBrain Component : Avatar - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}




{# ----------------- DevBrain Component : Avatar - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<div class="avatar">
    Avatar
</div>