{# ------------------ DevBrain Component : Alert - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}




{# ------------------ DevBrain Component : Alert - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<div class="alert">
    Alert
</div>