{# --------------- DevBrain Component : Collection - Settings --------------- #}
{# -------------------------------------------------------------------------- #}




{# --------------- DevBrain Component : Collection - Content ---------------- #}
{# -------------------------------------------------------------------------- #}
<div class="collection">
    Collection
</div>