{# ------------------ DevBrain Component : Card - Settings ------------------ #}
{# -------------------------------------------------------------------------- #}

{% set _class = class|default('') %}
{% set _content = content|default('') %}


{# -------------------- DevBrain Component : Card - Attr -------------------- #}
{# -------------------------------------------------------------------------- #}

{% set _attr = attr|default({}) %}

{# Class Attribute #}
{% set _attr = _attr|merge({class: ''}) %}
{% set _attr = add_attribute(_attr, 'class', _attr.class ~' card-body') %}
{% set _attr = add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}


{# ------------------ DevBrain Component : Card - Content ------------------- #}
{# -------------------------------------------------------------------------- #}
<div {{ get_attributes(_attr) }}>
    {{ _content|raw }}
</div>