{# ------------------ DevBrain Component : Card - Settings ------------------ #}
{# -------------------------------------------------------------------------- #}




{# ------------------ DevBrain Component : Card - Content ------------------- #}
{# -------------------------------------------------------------------------- #}
<div class="card">
    Card
</div>