{# ------------- DevBrain Component : Cookie-Consent - Settings ------------- #}
{# -------------------------------------------------------------------------- #}




{# ------------- DevBrain Component : Cookie-Consent - Content -------------- #}
{# -------------------------------------------------------------------------- #}
<div class="cookie-consent">
    Cookie-consent
</div>