{# ------------- DevBrain Component : Cookie-consent - Settings ------------- #}
{# -------------------------------------------------------------------------- #}

{% set _class = class|default('') %}



{# --------------- DevBrain Component : Cookie-consent - Attr --------------- #}
{# -------------------------------------------------------------------------- #}

{% set _attr = attr|default({}) %}

{# Class Attribute #}
{% set _attr = _attr|merge({class: ''}) %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' cookie-consent') %}

{# Add custom class #}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}



{# ------------- DevBrain Component : Cookie-consent - Content -------------- #}
{# -------------------------------------------------------------------------- #}
<div {{ _get_attributes(_attr) }}>
    Cookie-consent
</div>