{# --------------- DevBrain Component : Brand Link - Settings --------------- #}
{# -------------------------------------------------------------------------- #}

{% set _label = name|default('') %}
{% set _url = url|default('') %}
{% set _logo = logo|default('') %}
{% set _icon = icon|default('') %}
{% set _tagline = tagline|default('') %}


{# ----------------- DevBrain Component : Brand Link - Attr ----------------- #}
{# -------------------------------------------------------------------------- #}

{% set _attr = attr|default({}) %}

{# Class Attribute #}
{% set _attr = _attr|merge({class: ''}) %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' brand-link') %}


{% set _attr = _add_attribute(_attr, 'href', _url) %}
{% set _attr = _add_attribute(_attr, 'target', "_self") %}

{# ---------------- DevBrain Component : Brand Link - Content --------------- #}
{# -------------------------------------------------------------------------- #}
<a {{ _get_attributes(_attr) }}>
{% db_component 'brand' part 'inner' with {
    name: _label,
    logo: _logo,
    icon: _icon,
    tagline: _tagline,
} %}
</a>