{# ------------------ DevBrain Component : Badge - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}

{# Private properties #}
{% set _attr         = attr|default({}) %}
{% set _attr         = _attr|merge({class: ''}) %}
{% set _attr         = _add_attribute(_attr, 'class', _attr.class ~' badge') %}

{# Public properties #}
{% set _class        = class|default('') %}
{% set _label        = label|default('') %}



{# ------------------- DevBrain Component : Badge - Attr -------------------- #}
{# -------------------------------------------------------------------------- #}

{# Add custom class #}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}



{# ------------------ DevBrain Component : Badge - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<span {{ _get_attributes(_attr) }}>{{ _label|raw }}</span>