{# ---------------- DevBrain Component : Accordion - Settings --------------- #}
{# -------------------------------------------------------------------------- #}




{# ---------------- DevBrain Component : Accordion - Content ---------------- #}
{# -------------------------------------------------------------------------- #}
<div class="accordion">
    accordion
</div>