{# ---------------- DevBrain Component : Accordion - Settings --------------- #}
{# -------------------------------------------------------------------------- #}

{% set _class = class|default('') %}



{# ----------------- DevBrain Component : Accordion - Attr ------------------ #}
{# -------------------------------------------------------------------------- #}

{% set _attr = attr|default({}) %}

{# Class Attribute #}
{% set _attr = _attr|merge({class: ''}) %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' accordion') %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}



{# ---------------- DevBrain Component : Accordion - Content ---------------- #}
{# -------------------------------------------------------------------------- #}
<div {{ _get_attributes(_attr) }}>

    <div class="accordion-item">
        <div class="accordion-header">
            <div class="accordion-button">
                Item
            </div>
            <div class="accordion-collapse">
                <div class="accordion-body">

                    Accordion content 

                </div>
            </div>
        </div>
    </div>
    
</div>