// ******************************* DevBrain UI ****************************** //
// *
// *    Utilities variables.
// *
// ************************************************************************** //


/// Breakpoints and Containers names
/// =============================================

$breakpoint-name-phone  : 'phone' !default;
$breakpoint-name-tablet : 'tablet' !default;
$breakpoint-name-laptop : 'laptop' !default;
$breakpoint-name-desktop: 'desktop' !default;
$breakpoint-name-wide   : 'wide' !default;
$breakpoint-name-ultra  : 'ultra' !default;


/// Breakpoints
/// =============================================
///
/// sm      | phone         | < 576px               
/// md      | tablet        | >= 768px & < 992px
/// lg      | laptop        | >= 992px & < 1200px
/// xl      | desktop       | >= 1200px & 1400px
/// xxl     | wide          | >= 1400px & < 1600px
/// xxxl    | ultra-wide    | >= 1600px

$breakpoint-phone  : 576px !default;   // Small devices (landscape phones, 576px and up)
$breakpoint-tablet : 768px !default;   // Medium devices (tablets, 768px and up)
$breakpoint-laptop : 992px !default;   // Large devices (desktops, 992px and up)
$breakpoint-desktop: 1200px !default;  // X-Large devices (large desktops, 1200px and up)
$breakpoint-wide   : 1400px !default;  // XX-Large devices (larger desktops, 1400px and up)
$breakpoint-ultra  : 1600px !default;  // XXX-Large devices (larger desktops, 1600px and up)

$breakpoints: (
    xs     : 0,
    $breakpoint-name-phone  : $breakpoint-phone,
    $breakpoint-name-tablet : $breakpoint-tablet,
    $breakpoint-name-laptop : $breakpoint-laptop,
    $breakpoint-name-desktop: $breakpoint-desktop,
    $breakpoint-name-wide   : $breakpoint-wide,
    $breakpoint-name-ultra  : $breakpoint-ultra,
);

/// Containers
/// =============================================
///

$container-phone  : 540px !default;
$container-tablet : 720px !default;
$container-laptop : 960px !default;
$container-desktop: 1140px !default;
$container-wide   : 1340px !default;
$container-ultra  : 1520px !default;

$containers: (
    $breakpoint-name-phone  : $container-phone,
    $breakpoint-name-tablet : $container-tablet,
    $breakpoint-name-laptop : $container-laptop,
    $breakpoint-name-desktop: $container-desktop,
    $breakpoint-name-wide   : $container-wide,
    $breakpoint-name-ultra  : $container-ultra,
);

/// Delays
/// =============================================
/// 

$delay       : 1s !default;
$delay-slow  : $delay * 0.8 !default;
$delay-normal: $delay * 0.3 !default;
$delay-fast  : $delay * 0.1 !default;

$delays: (
    default: $delay,
    slow   : $delay-slow,
    normal : $delay-normal,
    fast   : $delay-fast,
    none   : 0,
);


/// Grid
/// =============================================
///

$grid-columns: 12 !default;


/// Typography
/// =============================================
///
$heading-font-size-base: 2.5rem;
$font-size-base        : 1rem;
$line-height-base      : 1.15;


/// Sides
/// =============================================
///

$sides: (
    t: top,
    r: right,
    b: bottom,
    l: left,
);


/// Spacers
/// =============================================
///

$spacer: 1rem !default;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 3,
  auto: auto,
);


/// Themes
/// =============================================
///

$theme-default: 'light' !default;
$themes: () !default;



$border-radius: 6px !default;