// ******************************* DevBrain UI ****************************** //
// *
// *    Utilities variables.
// *
// ************************************************************************** //

@use './../functions/collection';
@use './../mixins/dumper';





/// Typography
/// =============================================
///
$heading-font-size-base: 2.5rem;
$font-size-base        : 1rem;
$line-height-base      : 1.15;


/// Sides
/// =============================================
///

$sides: (
    t: top,
    r: right,
    b: bottom,
    l: left,
);


/// Spacers
/// =============================================
///

$spacer: 1rem !default;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 3,
  auto: auto,
);




$border-radius: 6px !default;