{# ----------------- DevBrain Component : Switch - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}

{# Private properties #}
{% set _attr                = attr|default({}) %}
{% set _attr                = _attr|merge({class: ''}) %}
{% set _attr                = _add_attribute(_attr, 'class', _attr.class ~' switch') %}

{% set input_attr           = {} %}
{% set input_attr           = _add_attribute(input_attr, 'aria-checked', 'false') %}

{# Public properties #}
{% set _class               = class|default('') %}
{% set _label               = label|default('') %}
{% set _checked             = checked|default('no') %}
{% set _active              = _checked == "yes" ? "yes" : "no" %}
{% set _disabled            = disabled|default("no") %}
{% set _eventHandler        = eventHandler|default("js-switch") %}
{% set _name                = name|default('') %}



{# ------------------- DevBrain Component : Switch - Attr ------------------- #}
{# -------------------------------------------------------------------------- #}

{# Is checked #}
{% if _checked == "yes" %}
{% set input_attr = _add_attribute(input_attr, 'checked', 'checked') %}
{% set input_attr = _add_attribute(input_attr, 'aria-checked', 'true') %}
{% endif %}

{# Is active" #}
{% if _active == "yes" %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' active') %}
{% endif %}

{# Is disabled #}
{% if _disabled == "yes" %}
{% set input_attr = _add_attribute(input_attr, 'disabled', "disabled") %}
{% endif %}

{# Has event handler #}
{% if _eventHandler is not empty %}
{% set _attr = _add_attribute(_attr, 'rel', _eventHandler) %}
{% endif %}

{# Attribute Name #}
{% set input_attr = _add_attribute(input_attr, 'name', _name) %}

{# Add custom class #}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}



{# ----------------- DevBrain Component : Switch - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<label {{ _get_attributes(_attr) }}>
    <input class="switch-input" type="checkbox" role="switch" {{ _get_attributes(input_attr) }}>
    <div class="switch-slider"></div>
    {% if _label %}<span class="switch-label">{{ _label|raw }}</span>{% endif %}
</label>
