{# ----------------- DevBrain Component : Switch - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}

{% set _class = class|default('') %}

{% set _label = label|default(false) %}
{% set _checked = checked|default(false) %}
{% set _active = _checked ? true : false %}
{% set _disabled = disabled|default(false) %}
{% set _eventHandler = eventHandler|default(true) %}



{# ------------------- DevBrain Component : Switch - Attr ------------------- #}
{# -------------------------------------------------------------------------- #}

{% set _attr = attr|default({}) %}

{# Class Attribute #}
{% if _attr.class is not defined %}
{% set _attr = _attr|merge({class: ''}) %}{% endif %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' switch') %}

{# Add "active" class #}
{% set _attr = _active ? _add_attribute(_attr, 'class', _attr.class ~' active') : _attr %}

{# Has event handler #}
{% set _attr = _eventHandler ? _add_attribute(_attr, 'rel', "js-switch") : _attr %}

{# Is checked #}
{% set input_attr = {} %}
{% set input_attr = _checked ? _add_attribute(input_attr, 'checked', "checked") : input_attr %}
{% set input_attr = _add_attribute(input_attr, 'aria-checked', _checked ? 'true' : 'false') %}

{# Is disabled #}
{% set input_attr = _disabled ? _add_attribute(input_attr, 'disabled', "disabled") : input_attr %}



{# ----------------- DevBrain Component : Switch - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<label {{ _get_attributes(_attr) }}>
    <input class="switch-input" type="checkbox" role="switch" {{ _get_attributes(input_attr) }}>
    <div class="switch-slider"></div>
    {% if _label %}<span class="switch-label">{{ _label }}</span>{% endif %}
</label>
