{# -- Component Settings ---------------------------------------------------- #}
{# -------------------------------------------------------------------------- #}

{% set _attr = attr|default({}) %}
{% set _attr = _add_attribute(_attr, 'class', class) %}


{# -- Component Rendering --------------------------------------------------- #}
{# -------------------------------------------------------------------------- #}
<span {{ _get_attributes(_attr) }}>{{ label }}</span>