{# ------------------ DevBrain Component : Badge - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}




{# ------------------ DevBrain Component : Badge - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<div class="badge">
    Badge
</div>