{# ------------------ DevBrain Component : Link - Settings ------------------ #}
{# -------------------------------------------------------------------------- #}

{# Private properties #}
{% set _attr      = attr|default({}) %}
{% set _attr      = _attr|merge({class: ''}) %}
{% set _attr      = _add_attribute(_attr, 'class', _attr.class ~' breadcrumb-link') %}

{# Public properties #}
{% set _class     = class|default('') %}
{% set _label     = label|default('') %}
{% set _url       = url|default('#') %}
{% set _target    = target|default('_self') %}
{% set _active    = active|default(false) %}
{% set _disabled  = disabled|default(false) %}


{# -------------------- DevBrain Component : Link - Attr -------------------- #}
{# -------------------------------------------------------------------------- #}

{# Active link #}
{% if _active is not same as false %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' active') %}
{% endif %}

{# Disabled link #}
{% if _disabled is not same as false %}
{% set _attr = _add_attribute(_attr, 'disabled', 'disabled') %}
{% set _attr = _add_attribute(_attr, 'aria-disabled', 'true') %}
{% endif %}

{# Link is not disabled #}
{% if _disabled is same as false %}
{% set _attr = _add_attribute(_attr, 'href', _url) %}
{% set _attr = _add_attribute(_attr, 'target', _target) %}
{% endif %}

{# Add custom class #}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}



{# ------------------- DevBrain Component : Link - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<a {{ _get_attributes(_attr) }}>{{ _label|raw }}</a>