<div>
    We use <a href="#">cookies</a> on our website to give you the most relevant experience by remembering your preferences and repeat visits.<br>By clicking “Accept All”, you consent to the use of ALL the cookies. However, you may visit "<a href="{{ link }}">Cookie Settings</a>" to provide a controlled consent.
</div>