{# ------------------ DevBrain Component : Tabs - Settings ------------------ #}
{# -------------------------------------------------------------------------- #}

{% set _class = class|default('') %}



{# -------------------- DevBrain Component : Tabs - Attr -------------------- #}
{# -------------------------------------------------------------------------- #}

{% set _attr = attr|default({}) %}

{# Class Attribute #}
{% set _attr = _attr|merge({class: ''}) %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' tabs') %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}



{# ------------------- DevBrain Component : Tabs - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<div {{ _get_attributes(_attr) }}>
    Tabs
</div>