{# ------------------ DevBrain Component : Tabs - Settings ------------------ #}
{# -------------------------------------------------------------------------- #}




{# ------------------ DevBrain Component : Tabs - Content ------------------- #}
{# -------------------------------------------------------------------------- #}
<div class="tabs">
    Tabs
</div>