{# ----------------- DevBrain Component : Segment - Settings ---------------- #}
{# -------------------------------------------------------------------------- #}




{# ----------------- DevBrain Component : Segment - Content ----------------- #}
{# -------------------------------------------------------------------------- #}
<div class="segment">
    Segment
</div>