{# ----------------- DevBrain Component : Loading - Settings ---------------- #}
{# -------------------------------------------------------------------------- #}




{# ----------------- DevBrain Component : Loading - Content ----------------- #}
{# -------------------------------------------------------------------------- #}
<div class="loading">
    Loading
</div>