// ***************************** DevBrain Theme ***************************** //
// *
// *    Utilities : Screen Reader Only
// *
// ************************************************************************** //

$properties: (
    m: margin,
    p: padding,
);

@each $property_key, $property in $properties {
    @each $side_key, $side in $sides {
        @each $spacer_key, $spacer in $spacers {
            .#{$property_key}#{$side_key}-#{$spacer_key} {

                @if not ($property == padding and $spacer == auto)
                {
                    #{$property}-#{$side}: $spacer !important;
                }
            }
        }
    }
}
