{# --------------- DevBrain Component : Pagination - Settings --------------- #}
{# -------------------------------------------------------------------------- #}




{# --------------- DevBrain Component : Pagination - Content ---------------- #}
{# -------------------------------------------------------------------------- #}
<div class="pagination">
    Pagination
</div>