$breakpoint-name-phone   : 'phone';
$breakpoint-name-tablet  : 'tablet';
$breakpoint-name-laptop  : 'laptop';
$breakpoint-name-desktop : 'desktop';
$breakpoint-name-wide    : 'wide';
$breakpoint-name-ultra   : 'ultra';