{# ---------------- DevBrain Component : Offcanvas - Settings --------------- #}
{# -------------------------------------------------------------------------- #}




{# ---------------- DevBrain Component : Offcanvas - Content ---------------- #}
{# -------------------------------------------------------------------------- #}
<div class="offcanvas">
    Offcanvas
</div>