{# ------------------ DevBrain Component : Menu - Settings ------------------ #}
{# -------------------------------------------------------------------------- #}

{# Private properties #}
{% set _attr        = attr|default({}) %}
{% set _attr        = _attr|merge({class: ''}) %}
{% set _attr        = _add_attribute(_attr, 'class', _attr.class ~' menu') %}

{# Public properties #}
{% set _class       = class|default('') %}
{% set _label       = label|default('') %}
{% set _justify     = justify|default('left') %}
{% set _orientation = orientation|default('horizontal') %}
{% set _items       = items|default([]) %}



{# -------------------- DevBrain Component : Menu - Attr -------------------- #}
{# -------------------------------------------------------------------------- #}

{# Menu Orientation #}
{% if _orientation == 'vertical' %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' menu-vertical') %}
{% endif %}

{# Menu Alignment #}
{% if _justify == 'start' or _justify == 'end' or _justify == 'center' or _justify == 'fill' %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' menu-'~ _justify) %}
{% endif %}

{# Aria label #}
{% if _label is not empty %}
{% set _attr = _add_attribute(_attr, 'aria-label', _label) %}
{% endif %}

{# Add custom class #}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}



{# ------------------- DevBrain Component : Menu - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<nav {{ _get_attributes(_attr) }}>
{% db_component 'menu' part 'items' with {
    items: _items
} %}
</nav>