{# ----------------- DevBrain Component : Button - Settings ----------------- #}
{# -------------------------------------------------------------------------- #}

{% set _class = class|default('') %}
{% set _label = label|default('') %}
{% set _type = type|default('button') %}
{% set _role = role|default('button') %}
{% set _disabled = disabled|default(false) %}
{% set _eventHandler = eventHandler|default(false) %}
{% set _dataset = dataset|default({}) %}



{# ------------------- DevBrain Component : Button - Attr ------------------- #}
{# -------------------------------------------------------------------------- #}

{% set _attr = attr|default({}) %}

{# Button class #}
{% set _attr = _attr|merge({class: ''}) %}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' button') %}

{# Add custom class #}
{% set _attr = _add_attribute(_attr, 'class', _attr.class ~' ' ~ _class) %}


{# Button type #}
{% set _attr = _add_attribute(_attr, 'type', _type) %}

{# Button role #}
{% set _attr = _add_attribute(_attr, 'role', _role) %}

{# Has event handler #}
{% if _eventHandler %}
{% set _attr = _eventHandler is same as true ? _add_attribute(_attr, 'rel', "js-button") : _add_attribute(_attr, 'rel', "js-"~ _eventHandler) %}
{% endif %}

{# Is disabled #}
{% set _attr = _disabled ? _add_attribute(_attr, 'disabled', "disabled") : _attr %}

{# DataSet #}
{% for _property, _value in _dataset %}
{% set _attr = _add_attribute(_attr, 'data-'~ _property, _value) %}
{% endfor %}


{# ----------------- DevBrain Component : Button - Content ------------------ #}
{# -------------------------------------------------------------------------- #}
<button {{ _get_attributes(_attr) }}>{{ _label|raw }}</button>