$pallet-name-success  : 'success';
$pallet-name-danger   : 'danger';
$pallet-name-warning  : 'warning';
$pallet-name-info     : 'info';
$pallet-name-primary  : 'primary';
$pallet-name-secondary: 'secondary';
$pallet-name-light    : 'light';
$pallet-name-dark     : 'dark';
$pallet-name-muted    : 'muted';