<div class="grid">
    <div class="column-3"><strong>Name</strong></div>
    <div class="column-3"><strong>CSS Variable</strong></div>
    <div class="column-3"><strong>Preview</strong></div>
    <div class="column-break"></div>
    
    <div class="column-3"><code>success</code></div>
    <div class="column-3"><code>--success</code></div>
    <div class="column-3" style="background-color: var(--success)"></div>
    <div class="column-break"></div>

    <div class="column-3"><code>danger</code></div>
    <div class="column-3"><code>--danger</code></div>
    <div class="column-3" style="background-color: var(--danger)"></div>
    <div class="column-break"></div>

    <div class="column-3"><code>warning</code></div>
    <div class="column-3"><code>--warning</code></div>
    <div class="column-3" style="background-color: var(--warning)"></div>
    <div class="column-break"></div>

    <div class="column-3"><code>info</code></div>
    <div class="column-3"><code>--info</code></div>
    <div class="column-3" style="background-color: var(--info)"></div>
    <div class="column-break"></div>

    <div class="column-3"><code>primary</code></div>
    <div class="column-3"><code>--primary</code></div>
    <div class="column-3" style="background-color: var(--primary)"></div>
    <div class="column-break"></div>

    <div class="column-3"><code>secondary</code></div>
    <div class="column-3"><code>--secondary</code></div>
    <div class="column-3" style="background-color: var(--secondary)"></div>
    <div class="column-break"></div>

    <div class="column-3"><code>light</code></div>
    <div class="column-3"><code>--light</code></div>
    <div class="column-3" style="background-color: var(--light)"></div>
    <div class="column-break"></div>

    <div class="column-3"><code>dark</code></div>
    <div class="column-3"><code>--dark</code></div>
    <div class="column-3" style="background-color: var(--dark)"></div>
    <div class="column-break"></div>

    <div class="column-3"><code>muted</code></div>
    <div class="column-3"><code>--muted</code></div>
    <div class="column-3" style="background-color: var(--muted)"></div>
</div>